.card {
  box-sizing: border-box;
  margin: $pad;
  padding: $pad;
  border-radius: 25px;
  background-color: $color-1;
  box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.09);

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1.7fr 1fr;
  }
}
