.card {
  box-sizing: border-box;
  margin: $pad;
  padding: $pad;
  border-radius: 25px;
  background-color: $color-1;
  box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.09);

  &__grid-1 {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

    @media (min-width: $screen-desktop) {
      grid-template-columns: 1fr 1.7fr 1fr;
    }
  }

  &__grid-2 {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

    @media (min-width: $screen-desktop) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
