body {
  font-size: 14px;
  font-family: $font-prime;
}

h1 {
  @include fluid-type(3em, 9em);
  font-weight: 100;
  background: -webkit-linear-gradient($color-5, $color-6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  @include fluid-type(1em, 1.2em);
  letter-spacing: 5px;
  font-weight: 200;
}
