body {
  font-size: 14px;
  font-family: $font-prime;
}

h1 {
  @include fluid-type(3em, 9em);
  font-weight: 100;
  background: -webkit-linear-gradient($color-5, $color-6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  span.ex {
    @include fluid-type(0.3em, 0.4em);
    vertical-align: middle;
    font-weight: 500;
  }
}

h2 {
  @include fluid-type(1em, 1.2em);
  letter-spacing: 5px;
  font-weight: 200;
}

h3 {
  @include fluid-type(0.9em, 1em);
  font-weight: 400;
  letter-spacing: 2px;
}

.caption {
  font-size: 0.8em;
  letter-spacing: 1px;
  line-height: 1;
}
