<div class="card">
  <%= live_component @socket, LiveChartWeb.LivePieComponent, chart: %LiveChart.BaseChart{title: "My awesome chart"} %>
</div>
<div class="card">
  <%= live_component @socket, LiveChartWeb.LiveColumnComponent, chart: %LiveChart.BaseChart{title: "My awesome chart"} %>
</div>
